<%- include('partials/_actualHead') %>

  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('./partials/_header') %>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %>
      </h5>
      <p class="card-text">
        Short URL ID: <a href="/u/<%= id %>">
          <%= id %>
        </a>
      </p>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <div class="card text-center">
  <h5 >Edit</h5>
    <form method="POST" action="/urls/<%= id %>">
    <label for="longURL">New URL:</label>
    <input type="text" name="longURL" value="<%= longURL %>">
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </div>
  <!-- Bootstrap JS -->
<%- include('./partials/_bootstrapJS_endPage') %>
</body>

</html>